@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgba(2, 19, 42, 0.9);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.input {
  border-radius: 5px;
  background-color: #d9d9d9;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  padding: 12px;
  border: none;
}

.inputLabel {
  font-size: 15px;
  margin-bottom: 2px;
  margin-left: 2px;
}
